.layout-body {
  display: flex;
  min-height: calc(100vh - 90px);
}

.sub-nav-list {
  padding-top: 0px;
  flex: 1 1 20%;
  min-width: 220px;
  max-width: 220px;
  height: 100vh;
}

.relative-page-content {
  flex: auto;
  position: relative;
}

.content-area{
  margin:20px;
}